body{
    text-align:center;
    font-family:Arial;
}

.board{
    display:grid;
    grid-template-columns:repeat(3,100px);
    grid-gap:5px;
    justify-content:center;
    margin:20px auto;
}

.cell{
    width:100px;
    height:100px;
    background:#eee;
    font-size:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.cell.win{
    background:lightgreen;
}